
ScrumBoard/.vs/ScrumBoard/v16/Server/sqlite3/db.lock
ScrumBoard/.vs/ScrumBoard/v16/Server/sqlite3/storage.ide
ScrumBoard/.vs/ScrumBoard/v16/Server/sqlite3/storage.ide-shm
ScrumBoard/.vs/ScrumBoard/v16/Server/sqlite3/storage.ide-wal
ScrumBoard/.vs/ScrumBoard/DesignTimeBuild/.dtbcache
